
    /**
     * @file oms-sw-map.scss
     *
     * The default CSS for the map widget. This file will be compiled
     * using a SASS compiler.
     *
     * @author Jimmy K. <jimmy@orbitmedia.com>
     * @link http://www.orbitmedia.com
     */

     /* ======================================== */
     /* Admin UI
     /* ======================================== */

    .oms-sw-map-form-container {

        p.json {
            // Don't show the JSON field.
            display: none;
        }

        .oms-sw-map-repeatable-container {

            fieldset {

                background: #fafafa;
                border: 1px solid #ddd;
                margin: 0 0 10px;
                padding: 10px;

                legend {
                    padding: 0 5px;
                    font-weight: bold;
                    margin: 0 0 0 -5px;
                }

                p:first-of-type {
                    margin-top: 0;
                }

            }

            .repeatable.original {

                p:last-of-type {
                    margin-bottom: 0;
                }

                .oms-sw-map-remove-location {
                    // Don't show the remove button on the original repeatable.
                    display: none;
                }

            }

        }

        .oms-sw-map-add-location {
            margin: 0 0 10px !important;
        }

    }

    /* ======================================== */
    /* Output
    /* ======================================== */

    .sideBar_MapElementHolder {

        /* Map */

        .sideBar_GoogleMap {
            background: #e0e0e0;
            width: 100% !important;
            height: 300px !important;
        }

        /* Directions Button */

        .directionsButton {
            display: none;
        }

        /* Address */

        .sideBar_MapListAddress {
            line-height: normal;
            margin-top: 15px;
        }

        /* Address Elements */

        .sideBar_MapAddressElement {
            //
        }

        /* Info Window */

        .gm-style-iw {

            color: #000;
            line-height: normal;

            .sideBar_MapAddressElement {
                color: inherit;
                margin: 0;
            }

        }

    }
